/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px;
    width: 200px;
    /* Largura da barra de menu (ajuste conforme necessário) */

    z-index: 100;
    /* Para preencher a altura da tela */
    min-height: 100vh;
}

header div {
    position: fixed;
    padding: 10px;
    width: 200px;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

header div h1 {
    /* Relativo com o pai e 90% em relacao ao pai*/
    position: relative;
    width: 90%;
    text-align: center;
    font-family: system-ui;
    /* text-transform: uppercase; */
}


nav ul {
    list-style-type: none;
    padding: 0px 0px 0px 25px;
    text-align: start;
    font-size: 18px;
}

nav li {
    display: block;
    /* Exiba os itens do menu em bloco para ficar à esquerda */
}

nav a {
    font-family: system-ui;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    /* Exiba os links em bloco */
    padding: 10px;
    /* Espaçamento entre os links do menu */
}

header nav a:hover {
    color: #c7c7c7;
}

header nav a:active {
    color: #918f8f;
}

#conteudo {
    margin: auto;
    position: relative;
    /* Deixe espaço à esquerda para a barra de menu */
    margin-left: 250px;
}

.greeting_message {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-image: url(Imagens/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    font-size: 40px;
    opacity: 2;

    ;
}

.greeting_message h1 {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}


/* Estilos das seções */
section {
    padding: 40px;
}

/* Estilos do formulário de contato */
form {
    max-width: 400px;
    margin: 0 auto;
}

label,
input,
textarea,
button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
    height: 50px;
}